.table-carta,
.table-carta > th,
.table-carta > td {
  background-color: #0D1C80;
}

.table-johan,
.table-johan > th,
.table-johan > td {
  background-color: #FFB54D;
}

.table-user,
.table-user > th,
.table-user > td {
  background-color: #D6316A;
}

.table-head {
  background-color: #2E2E2E;
}

.table-first {
  background-color: #555457;
}
.table-second {
  background-color: #6F6C74;
}
